<% title "Bienvenue" %>

<%= render 'application/header' %>

<div class="index-header">
  <section class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>
          Use new filters to enhance your photos with just one click
        </h1>
        <p>
          Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people.
        </p>

        <div class="cta">
          <a href="index-mobile.html#" class="btn btn-primary btn-lg">
            Sign up free
          </a>
          <a class="btn-outline popup-media" href="https://vimeo.com/155404383">
            <i class="fa fa-play"></i>
            Learn more
          </a>
        </div>
      </div>
      <div class="col-md-5">
        <%= image_tag("devices/iphone-13.png",  alt: "", class: "mobile-pic fadeInScale hidden-sm-down") %>
      </div>
    </div>
  </section>
</div>

<div class="index-intro">
  <div class="container">
    <header>
      <h3>How does it actually work?</h3>
      <p>
        Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go.
      </p>
    </header>
    <section class="row">
      <div class="col-md-6">
        <h4>Take all your photos at all times</h4>
        <p>
          Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients, and also get support for any questions and matters that you might have.
        </p>
      </div>
      <div class="col-md-6">
        <h4>Upgrade your account to get all features</h4>
        <p>
          Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure. Just go to the source, make changes and the rest is taken care automatically.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="index-features">
  <div class="container">
    <header>
      <h3>Complete control over your website</h3>
      <p>
        Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
      </p>
    </header>
    <section class="features">
      <div class="row">
        <div class="col-md-6 feature">
          <%= image_tag("icons/features-icon-ok.png",  alt: "", class: "icon") %>
          <section>
            <h4>
              Secure platform
            </h4>
            <p>
              Spacial is the perfect solution for web developers and designers. You can get an awesome website for your best projects and clients.
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <%= image_tag("icons/features-icon-canvas.png",  alt: "", class: "icon") %>
          <section>
            <h4>
              Looks great anywhere
            </h4>
            <p>
              Pick the pages that describe your business the best and improve your users experience. Track your progress and learn along the way.
            </p>
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 feature">
          <%= image_tag("icons/features-icon-world.png",  alt: "", class: "icon") %>
          <section>
            <h4>
              Sell all over the world
            </h4>
            <p>
              Use new components that come included, as shown in the theme docs you don't need to write any code to get a website up and running.
            </p>
          </section>
        </div>
        <div class="col-md-6 feature">
          <%= image_tag("icons/features-icon-compass.png",  alt: "", class: "icon") %>
          <section>
            <h4>
              Great design great outcome
            </h4>
            <p>
              Spacial is designed to make showing off your best projects extremely fast and simple. There are many ways to configure, just go to the source.
            </p>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="index-devices">
  <section class="clearfix">
    <%= image_tag("devices/devices-4.png",  alt: "", class: "devices") %>

    <h4>Looks great in any device</h4>
    <p>
      Spacial has both a web app and an android app to make your website easy and always available. It offers you all the designs in collaboration with some smart people. Your projects will look great everywhere you go. Use new components that come included!
    </p>
    <p>
      Spacial is an advanced theme solution for desktop, tablet, and mobile devices. It works in all browsers and your clients can pay instantly, to improve their experience at all times anywhere they go.
    </p>
    <div class="icons">
      <i class="ion-monitor"></i>
      <i class="ion-ipad"></i>
      <i class="ion-iphone"></i>
    </div>
  </section>
</div>

<div class="index-browsers">
  <div class="container">
    <header>
      <h3>Everything to improve your site</h3>
      <p>
        For marketplaces, store builders, invoicing systems, and any service that helps users get paid.
      </p>
    </header>
    <section class="row">
      <div class="col-md-6">
        <%= image_tag("devices/devices-6.png",  alt: "", class: "d-block img-fluid") %>
      </div>
      <div class="col-md-6 info">
        <h4>
          High fidelity prototypes
          <div class="badge badge-success">NEW</div>
        </h4>
        <p>
          Focus on creating and growing your projects and websites, and we‘ll take care of spinning up new designs for your users and making sure they’re great.
        </p>
        <p>
          If you’d prefer to customize your projects directly, Spacial can give you unmatched control for customization. <a href="index-mobile.html#">Learn more</a>.
        </p>
        <p>
          Work with all types of customers right out of the box while still getting paid in your preferred currency.
        </p>
        <a href="index-mobile.html#" class="btn-rounded">
          Show me more <i class="ion-chevron-right"></i>
        </a>
      </div>
    </section>
  </div>
</div>

<div class="index-clients">
  <div class="container">
    <header>
      <h4>Used and trusted by these guys</h4>
    </header>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/google.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/dropbox.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/fb.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/twitter.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/instagram.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/apple.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
      <div class="col-12 col-md-3 col-lg">
        <%= image_tag("logos/stripe.jpg.png",  alt: "", class: "img-fluid mb-4") %>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title">
          About spacial
        </div>
        <ul class="menu">
          <li>
            <a href="index-mobile.html#">Home Pages</a>
          </li>
          <li>
            <a href="index-mobile.html#">Theme Features</a>
          </li>
          <li>
            <a href="index-mobile.html#">Services</a>
          </li>
          <li>
            <a href="index-mobile.html#">StoreFront</a>
          </li>
          <li>
            <a href="index-mobile.html#">Portfolio</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="title">
          Connect with us
        </div>
        <ul class="menu">
          <li>
            <a href="index-mobile.html#">
              <i class="fa fa-instagram"></i>
              Instagram
            </a>
          </li>
          <li>
            <a href="index-mobile.html#">
              <i class="fa fa-twitter"></i>
              Twitter
            </a>
          </li>
          <li>
            <a href="index-mobile.html#">
              <i class="fa fa-dribbble"></i>
              Dribbble
            </a>
          </li>
          <li>
            <a href="index-mobile.html#">
              <i class="fa fa-facebook"></i>
              Facebook
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 newsletter">
        <div class="title">
          Get awesome updates
        </div>
        <p>
          Enter your email address for news and product launches in the Spacial Space.
        </p>

        <form action="index-mobile.html#">
          <input type="email" class="form-control" placeholder="Email address" />

          <button type="submit">
            <i class="fa fa-chevron-right"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="bottom">
      <ul>
        <li><a href="index-mobile.html#">Privacy</a></li>
        <li><a href="index-mobile.html#">Legal</a></li>
        <li><a href="index-mobile.html#">Language</a></li>
      </ul>
    </div>
  </div>
</footer>

<script type="text/javascript">
    $(function () {
        $('.popup-media').magnificPopup({
            type: 'iframe',
            mainClass: 'mfp-fade'
        });
    })
</script>